<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>化运中国</title>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/signin.css" rel="stylesheet">
    <style>

        .b2{
            border-radius: 5px;
            width: 150px;
            height: 40px;
            background: red;
            color: white;
        }
        .b1{
            border-radius: 5px;
            width: 150px;
            height: 40px;
            background: green;
            color: white;
        }
        .b3{
            border-radius: 5px;
            width: 150px;
            height: 40px;
            background: blue;
            color: white;
        }
        .d1{
            width: 100%;
        }

    </style>
</head>

<body class="text-center" >
        <div class="d1">
            <span th:text="|欢迎登录，你的身份是：${session.roleName}|" style="color: red;"></span>
            <h1>全部貨源信息</h1>
            <!--class="table table-hover"-->
            <table class="table table-hover">
                <tr>
                    <th>编号</th>
                    <th>路线信息</th>
                    <th>基本信息</th>
                    <th>发布时间</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>操作</th>
                </tr>
                <tr th:each="good : ${goods}">
                    <td th:text="${good.id}"></td>
                    <td th:text="${good.startName}+|——>${good.endName}|"></td>
                    <td th:text="|车辆类型-${good.carName},${good.transportName},${good.goodsName},${good.weight}${good.unitName},${good.price}元/${good.unitName}|"></td>
                    <td th:text="${good.startTime}"></td>
                    <td th:text="${good.ownerName}"></td>
                    <td th:text="${good.phone}"></td>
                    <td><a th:href="@{/goods/delete/}+${good.id}">删除</a>&nbsp;<a th:href="@{/goods/showUpdate/}+${good.id}">修改</a>&nbsp;<a th:href="@{/goods/watch/}+${good.id}">查看</a></td>
                </tr>

            </table>
            <!--显示分页信息-->
            <div class="modal-footer no-margin-top">
                <div class="col-md-6">
                    当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
                </div>

                <ul class="pagination pull-right no-margin">
                    <li th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="'/goods/query?pageNum=1'">首页</a>
                    </li>

                    <li class="prev" th:if="${pageInfo.hasPreviousPage}">
                        <a th:href="'/goods/query?pageNum='+${pageInfo.prePage}">
                            <i class="ace-icon fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <!--遍历条数-->
                    <li th:each="nav:${pageInfo.navigatepageNums}">
                        <a th:href="'/goods/query?pageNum='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                        <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
                    </li>

                    <li class="next" th:if="${pageInfo.hasNextPage}">
                        <a th:href="'/goods/query?pageNum='+${pageInfo.nextPage}">
                            <i class="ace-icon fa fa-angle-double-right"></i>
                        </a>
                    </li>

                    <li>
                        <a th:href="'/goods/query?pageNum='+${pageInfo.pages}">尾页</a>
                    </li>
                </ul>
            </div>

                <button class = "b1">发布车源</button>
                <button class = "b2">发布货源</button>
                <a th:href="@{/cars/query}"><button class = "b3">查看车源</button></a>
                <input type="hidden" th:value="${session.token}" id="in1"/>
        </div>

</body>
<script src="../js/jquery-3.1.1.js"></script>
<script type="text/javascript">
    $(".b1").click(function() {
        //alert($("#in1").val());
        $.ajax({
            type: "GET",
            url: "/cars/authAdd",
            beforeSend: function(request) {
                request.setRequestHeader("authorization","Bearer " + $("#in1").val());
            },
            success: function(result) {
                if(result){
                    window.location.href="/cars/add";
                }
            }
        });
    });
    $(".b2").click(function() {
        //alert($("#in1").val());
        $.ajax({
            type: "GET",
            url: "/goods/authAdd",
            beforeSend: function(request) {
                request.setRequestHeader("authorization","Bearer " + $("#in1").val());
            },
            success: function(result) {
                if(result){
                    window.location.href="/goods/add";
                }
            }
        });
    });
</script>
</html>